*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.hamburger {
  position: fixed;
  top: 2rem;
  right: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 2000;
}

.hamburger i {
  font-size: 3rem;
  background: linear-gradient(to right, #2af598 0%, #009efd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-times {
  display: none;
}

header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translate(-100%, -100%);
  opacity: 0;
  z-index: 999;
  transition: opacity 0.6s, transform 0.2s 0.6s;
}

.sidebar {
  background-color: #1f25;
  position: fixed;
  top: 0;
  left: 0;
  width: 28rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.nav-list {
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #2af598 0%, #009efd 100%);
}

.nav-link {
  display: block;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  line-height: 8rem;
  letter-spacing: 3px;
  transition: color 0.6s;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nav-link.current {
  color: #fff;
}

.nav-link i {
  font-size: 2rem;
  margin-right: 1rem;
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.icon-link {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  transition: background-color 0.6s;
}

.icon-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.icon-link i {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.4);
  margin: auto;
  transition: color 0.6s;
}

.icon-link i {
  color: rgba(255, 255, 255, 0.8);
}

main {
  perspective: 100rem;
}

.zoom-content {
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

section {
  width: 100%;
  height: 100vh;
  background-color: #1f253d;
}

.active .fa-times {
  display: block;
}

.active .fa-bars {
  display: none;
}
